
# KMP challenge base (ignore cloned project folder)
Obsidian Vault/Projetos/bimm-kmp-challenge-base/
# Nested KMP challenge project (separate Git repo)
Obsidian Vault/Projetos/bimm-kmp-challenge-base/
